{% extends "dashboard.html" %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      {%if user.user_type == '1'%}
       <h1 class="h2">Principal Dashboard</h1>
       {%else%}
       <h1 class="h2">Staff Dashboard</h1>
       {% endif %}
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="{%url 'logout'%}">
                <button type="button" class="btn btn-sm btn-outline-secondary">Logout</button>
              </a>
        </div>
      </div>
    </div>
    <div class="text-center">
        <h1>Sucessfully Sent Email to student Parents</h1>
    </div>
  </main>
{% endblock content %}